
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

h1 {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
}

#mapa {
    margin: 20px auto;
    position: relative;
}

#mapa img {
    width: 80%;
}

area {
    cursor: pointer;
}

#resultado {
    margin-top: 20px;
    font-size: 18px;
}

#contador {
    margin-top: 20px;
    font-size: 18px;
}
